@import '../vars';
@import '../partials/partials';

.modal-dialog {
  @include shadow();

  padding: 2rem;
  min-width: 350px;
  text-align: center;
  border-radius: 2px;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: (translate(-50%, -50%));

  @media (min-width: 768px) {
    top: 35%;
    text-align: left;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
  }
}

.form-control {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: white;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    margin: 0.5rem;
  }
}

.form-label {
  font-size: $font-big;
}

.select {
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  background-color: $dark-gray;
  color: white;
  * {
    color: white;
  }
  cursor: pointer;
  appearance: none;
  line-height: 1.7;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);

  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;

  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.btn {
  @include shadow();
  @include shadow_hover();

  border-radius: 2px;
  font-size: $font-large;
  border: none;
  padding: 0.25rem 0.75rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.02);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 0.7rem;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-gray;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
