@import '../vars';
@import '../partials/partials';

.modal-dialog {
  @include shadow();
  border-radius: 2px;
  min-width: 350px;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: (translate(-50%, -50%));
  text-align: center;

  @media (min-width: 768px) {
    top: 35%;
    text-align: left;
  }

  padding: 2rem;

  &::before {
    content: '';
    background-color: $primary-light;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
  }
}

.form-control {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: white;

  @media (min-width: 768px) {
    margin: 0.5rem;
  }
}

.form-label {
  font-size: $font-big;
  color: black;
}

.select {
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  background-color: $dark-gray;
  color: white;
  * {
    color: white;
  }
  cursor: pointer;
  appearance: none;
  line-height: 1.7;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);

  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;

  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.btn {
  @include shadow();
  @include shadow_hover();

  border-radius: 2px;
  font-size: $font-large;
  border: none;
  padding: 0.25rem 0.75rem;
  transition: 0.1s ease;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.02);
  }
}

.btn-primary {
  background-color: $dark-gray;
}

.btn-secondary {
  background-color: $primary-light;
}

.btn-dark {
  background-color: $primary-dark;
}
