@mixin shadow() {
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
}

@mixin shadow_hover() {
  &:hover {
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 1);
  }
}
