@import '../../styles/vars';

.card {
  background-color: $primary-color;
  border-radius: 4px;

  width: 100%;
  min-width: 80px;
  max-width: 200px;
  padding: 0.5rem 0;
}

.wide-btn {
  max-width: 300px;
  padding: 0.5rem 0;
  margin: 0 auto;
}
