$primary-color: #128a6c;
$primary-dark: #043d2f;
$primary-light: #31d6ad;

$complementary-color: #3d0f00;
$complementary-light: #8a2f12;

$dark-gray: #3f3f3f;

$font-normal: 16px;
$font-big: 20px;
$font-large: 24px;
