@import '../../styles/vars';

.quickstart-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  & .card {
    margin: 1.5rem;
    max-width: 300px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    & > p {
      text-align: left;
    }
  }
}
