@import '../../styles/vars';

.quickstart-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  & .card {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 300px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    & > h3 {
      text-align: left;
    }
  }
}
