@import '../../styles/vars';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 0.6rem 1rem;
  font-size: x-large;
  margin: 0.5rem 0;
  color: white;
  * {
    color: white;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  & > * {
    z-index: 2;
  }
  ul {
    list-style: none;

    li {
      padding: 0 0.7rem;
      display: inline;
      cursor: pointer;

      * {
        transition: all 0.5s ease;
      }
    }
  }
}
